.Rproj.user
.Rhistory
.RData
.Ruserdata


data/*.fna
data/*.fasta
data/*.fasta.gz


blastdb


D-Apul/code/.bashvars
D-Apul/code/*_cache
D-Apul/code/methylseq.sh
D-Apul/data/*.fa
D-Apul/data/*.ebwt
D-Apul/data/sRNA-trimmed-reads
D-Apul/data/01-Apul-RNA-trimming-FastQC/raw-reads
D-Apul/data/01-Apul-RNA-trimming-FastQC/trimmed-reads
D-Apul/data/08-Apul-WGBS/sim-data/*.fastq
D-Apul/output/11-Apul-sRNA-ShortStack-pulchra_genome/ShortStack_out/*.bam
D-Apul/output/11-Apul-sRNA-ShortStack-pulchra_genome/ShortStack_out/*.fa
D-Apul/output/11-Apul-sRNA-ShortStack-pulchra_genome/ShortStack_out/*.csi

D-Apul/output/07.2-Apul-Hisat

E-Peve/code/.bashvars
E-Peve/code/*_cache
E-Peve/data/01-Peve-RNA-trimming-FastQC/raw-reads
E-Peve/data/01-Peve-RNA-trimming-FastQC/trimmed-reads


F-Ptuh/code/.bashvars
F-Ptuh/code/*_cache
F-Ptuh/data/01-Ptuh-RNA-trimming-FastQC/raw-reads
F-Ptuh/data/01-Ptuh-RNA-trimming-FastQC/trimmed-reads
